<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Transfer NFT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <form action="" method="post" >
            <h1><B> Transfer NFT </B></h1>

            <label for="api"> API key </label> <br>
            <input type="text" id="api" name="api"> </label> <br>

            <label for="add"> NFT contract address : </label> <br>
            <input type="text" id="add" name="add"> </label> <br>

            <label for="evm"> EVM chain id </label> <br>
            <input type="text" id="evm" name="evm"> </label> <br>

            <label for="nft_id"> NFT id : </label> <br>
            <input type="text" id="nft_id" name="nft_id"> </label> <br>

            <label for="from"> From address : </label> <br>
            <input type="text" id="from" name="from"> </label> <br>

            <label for="to"> To : </label> <br>
            <input type="text" id="to" name="to"> </label> <br>

            <input type="submit" value="submit" >


        </form>
    </body>
</html>